.Navbar-section{
  background-color: rgba(202, 190, 221, 0.579);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 9px 10px ;
  font-family: Cambria, serif;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);

}

.Navbar-section ul{
  display: flex;
  padding: 17px 30px;
  margin-inline: 20px;
  transition: 0.3s;
  z-index: 90;
}


.Navbar-section ul li {
  display: flex;
  padding-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.Navbar-section ul li:hover{
  color:  rgb(102, 3, 13);
}

.Navbar-section ul li a{ 
  color: red;
  text-decoration: none;
  font-size: 17px;
  position: relative;
}

.Navbar-section ul li a:hover{
  color:rgb(102, 3, 13);
  font-size: 19px;
}
.Navbar-section ul li a:hover::before{
    content: "";
    position: absolute;
    left: 8%;
    width: 30px;
    top: 25px;
    height: 4px;
    background-color: rgb(102, 3, 13);
}



.logo-sect .logo{
  display: flex;
  text-align: center;
  color: rgb(218, 14, 14);
  padding: 17px 30px;
  text-decoration: none;
  font-size: 26px;
font-weight: bold;
}

.logo-sect .logo span{
  font-size: 25px;
  color: rgb(162, 246, 6);
}
